* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    padding: 0;
    font-family: 'Arial, sans-serif';
  }
  
  body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
  @media (max-width: 600px) {
  .btn{
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .hamburger{
    display: block;
  }

  .btn button {
    height: 20vw;
    width: 20vw;
    font-size: 4vw;
}
}

 /* .btn button{
    height: 20vw;
    width: 20vw;
    font-size: 4vw;
  }
  */
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn button {
    
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5%;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .btn button:hover {
    background-color: #0056b3;
  }

 /* .btn a {
    margin: 10px;
  }
*/
  .nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: #444;
  }
  
  p {
    margin: 10px 0;
  }
  
  #about{
    margin:100px 10px 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #about h3{
    font-family:  'Arial black', sans-serif;
    color: #444;
  }
  