* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    padding: 20px;
    font-family: 'Arial, sans-serif';
  }
  
  body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  #picture {
    grid-row: 1;
    grid-column:1/3;
  }

  #picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  #name {
    grid-row:1 ;
    grid-column:3 / 7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .my_name{
    font-family: 'Merriweather', serif;
    font-size: 4vw;
    margin-bottom: 0;
  }

  .my_tag{
    padding: 0;
    margin-top:0  ;
    font-family:'Merriweather', serif;
    font-size: 2vw;
    letter-spacing: 0.5em;
  }

  brand{
    font-family: Impact, Haettenschweiler, 'Arial black', sans-serif;
    font-size: 10vw;
  }
  
  @media (max-width: 600px) {
  brand {
    font-size: 8vw; /* Adjust the font size for smaller screens */
    }
  .my_name{
    font-size:3vw ;
  }
  .my_tag{
    font-size: 1.5vw;
  }
  .btn{
    flex-direction: column;
    
  }

  .btn button{
    height: 20vw;
    width: 20vw;
    font-size: 4vw;
  }
  }
  
  .btn{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn button {
    
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .btn button:hover {
    background-color: #0056b3;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: #444;
  }
  
  p {
    margin: 10px 0;
  }
  
  /*footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .img-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .img-gallery img {
    width: calc(33.333% - 20px);
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .img-gallery img:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .img-gallery img {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .img-gallery img {
      width: 100%;
    }
  }
  */